@media (max-width: 1024px) {
    .w-perc-20{
        width: 70% !important;
        margin: auto;
    }
}

@media (max-width: 350px){
    .show-flex{
        flex-direction: column !important;
    }
    .btn{
        padding: 15px !important;
    }
    .img-div{
        width: 45% !important;
        height: auto !important;
        margin: auto !important;
    }
    body{
        overflow-x: hidden;
    }
}