@media (max-width: 1024px) {
    .w-perc-20{
        width: 70% !important;
        margin: auto;
    }
}

@media (max-width: 450px){
    .w-perc-20{
        width: 65% !important;
        margin: auto;
    }
    .buttons{
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (max-width: 550px){
    .show-flex{
        flex-direction: column !important;
    }
    .buttons{
        gap: 12px !important;
        width: 100%;
        justify-content: center;
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin: 0 !important;
    }
    .go_back{
        width: 91% !important;
    }
    .btn{
        padding: 15px !important;
    }
    .img-div{
        width: 45% !important;
        height: auto !important;
        margin: auto !important;
    }
    body{
        overflow-x: hidden;
    }
}

@media (max-width: 440px){
    .buttons{
        gap: 12px !important;
        width: 55vw;
        justify-content: center;
        padding-left: 0 !important;
        margin: 0 !important;
    }
        .go_back{
        width: 80% !important;
    }
}

@media (max-width: 300px){
    .go_back{
        width: 75% !important;
    }
}

.inputcont {
    display: flex;
    flex-direction: column;
    gap: 15px; /* space between each label-input pair */
}

.go_back{
    margin: 0;
    padding: 0;
}


